header {
    display: flex;
    align-items: center;
    height: 81px;
    width: 100%;
    max-width: 1920px;
    background-color: var(--primary-hf-color);
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 140px;

    img {
        width: 215px;
        height: 41px;
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    flex: 1;
}

.headline {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Figtree";
    font-weight: 800;
    font-size: 56px;
    color: var(--primary-font-color);
    width: 100%;
    max-width: 1440px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 128px;
    width: 100%;
    max-width: 1920px;
    gap: 16px;
    bottom: 0;
    background-color: var(--primary-hf-color);
    /* border: 1px solid white; */
    /* border-radius: 100% 100% 0% 0% / 30% 30% 0% 0%; */

    clip-path: ellipse(80% 100% at 50% 100%);

    p {
        font-family: "Figtree";
        font-weight: 400;
        font-size: 14px;
        color: rgba(153, 172, 179, 1);
    }
}
