body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100svh;
    background-color: var(--primary-bg-color);
}

.header {
    display: flex;
    align-items: center;
    height: 81px;
    width: 100%;
    background-color: var(--primary-hfd-color);
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 140px;

    img {
        width: 215px;
        height: 41px;
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    background-color: var(--primary-bg-color);
}

.headline {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: clamp(1.5rem, 2.857vw + 0.929rem, 3.5rem);
    color: var(--primary-font-color);
    width: 100%;
    max-width: 1440px;
    padding: 160px 0 80px 0;
}

#content-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
    max-width: 1400px;
    height: auto;
    flex-wrap: wrap;
    margin-bottom: 160px;

    img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border: 2px solid var(--primary-border-color);
        border-radius: 16px;
        cursor: pointer;
    }

    img:hover {
            border-color: var(--secondary-border-color);
        }
}

.my-dialog.opened {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: min(80vw, 688px);
    width: 100%;
    height: 90%;
    background-color: var(--primary-hfd-color);
    border-radius: 40px;
    border: none;
    padding: 56px 64px;
    gap: 48px;
    align-self: center;
    justify-self: center;

    .header-dialog {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 32px;
        background-color: var(--primary-hfd-color);
    
        h2 {
            display: flex;
            width: 80%;
            height: 48px;
            font-size: clamp(1.125rem, 0.526vw + 1.026rem, 1.5rem);
            font-weight: 700;
            line-height: 100%;
            color: var(--primary-font-color);
            text-align: center;
        }

        .btn-dialog {
            display: flex;
            align-items: center;
            object-fit: cover;
            border-radius: 100px;
            border: none;
            width: 32px;
            height: 32px;
            cursor: pointer;
            background-color: var(--primary-hfd-color);
        }

        .btn-dialog:hover {
            background-color: var(--primary-border-color);
        }
    }
    

    .content-dialog {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            object-fit: contain;
            width: 100%;
            max-width: clamp(300px, 80vw, 560px);
            height: 400px;
        }
    }

    .footer-dialog {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 260px;
        height: 60px;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(253, 91, 79, .1);
            border-radius: 100px;
            border: none;
            width: 60px;
            height: 60px;

            img {
                width: 22px;
                height: 19px;
            }
        }

        button:hover {
                background-color: rgba(253, 91, 79, .2);
                cursor: pointer;
            }

        p {
            font-size: 1rem;
            font-weight: 500;
            line-height: 100%;
            color: rgba(245, 245, 245, 1);
        }
    }
}

.my-dialog::backdrop {
    backdrop-filter: blur(4px);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 128px;
    bottom: 0;
    position: absolute;
    background-color: var(--primary-hfd-color);
    clip-path: ellipse(90% 100% at 50% 100%);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 65px;
    width: 225px;
    gap: 16px;
    

    p {
        font-weight: 400;
        font-size: 14px;
        color: var(--primary-p-color);
    }
}

@media screen and (max-width: 1440px) {
    .main-content {
    padding: 0 16px;
    }
}

@media screen and (max-width: 860px) {
    .my-dialog.opened {
        padding: 32px 21px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        justify-content: center;

        .header-logo {
            left: unset;
        }
    }

    .header-dialog {
        flex-direction: column-reverse;
        align-items: end;
        gap: 8px;
        height: 69px;
    }
}

@media screen and (max-width: 600px) {
    .my-dialog.opened {
        gap: 16px;
        height: 80%;
    }
}

@media screen and (max-width: 480px) {
    .headline {
        text-align: center;
    }
}

@media screen and (max-width: 430px) {
    .content-dialog img {
        max-width: clamp(250px, 50vw, 430px);
    }
}

@media screen and (max-width: 380px) {
    .my-dialog.opened .footer-dialog {
        width: 200px;
    }
}