body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100dvh;
    background-color: var(--primary-bg-color);
}

.header {
    display: flex;
    align-items: center;
    height: 81px;
    width: 100%;
    /* max-width: 1920px; */
    background-color: var(--primary-hfd-color);
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 140px;

    img {
        width: 215px;
        height: 41px;
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    background-color: var(--primary-bg-color);
}

.headline {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 56px;
    color: var(--primary-font-color);
    width: 100%;
    max-width: 1440px;
    padding: 160px 0 80px 0;
}

#content-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
    max-width: 1400px;
    height: auto;
    flex-wrap: wrap;
    background-color: rgba(100, 100, 100, 0.3);
    margin-bottom: 160px;

    img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border: 2px solid var(--primary-border-color);
        border-radius: 16px;
    }

    img:hover {
            border-color: rgba(107, 193, 225, 1);
        }
}

.my-dialog.opened {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 688px;
    height: auto;
    background-color: var(--primary-hfd-color);
    border-radius: 40px;
    border: none;
    padding: 56px 64px;
    gap: 48px;
    align-self: center;
    justify-self: center;

    .headline-dialog {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 560px;
        height: 32px;
        background-color: var(--primary-hfd-color);

    
        h2 {
            display: flex;
            justify-content: center;
            font-size: 24px;
            font-weight: 700;
            line-height: 100%;
            color: var(--primary-font-color);
        }

        .btn-dialog {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            width: 100%;
            height: 32px;

            object-fit: cover;
            border-radius: 100px;
            border: none;
            width: 32px;
            height: 32px;
            background-color: var(--primary-hfd-color);
        }

        .btn-dialog:hover {
            background-color: var(--primary-border-color);
        }
    }
    

    .content-dialog {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(100, 100, 100, 0.3);

        img {
            object-fit: cover;
            width: 560px;
            height: 375px;
        }
    }

    .footer-dialog {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* background-color: rgba(100, 100, 100, 0.3); */
        width: 260px;
        height: 60px;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(253, 91, 79, .1);
            border-radius: 100px;
            border: none;
            width: 60px;
            height: 60px;

            img {
                width: 22px;
                height: 19px;
            }
        }

        button:hover {
                background-color: rgba(253, 91, 79, .2);
                cursor: pointer;
            }

        p {
            font-size: 16px;
            font-weight: 500;
            line-height: 100%;
            color: rgba(245, 245, 245, 1);
        }
    }
}

.my-dialog::backdrop {
    /* background-color: rgba(0, 0, 0, 0.5); */
    backdrop-filter: blur(4px);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 128px;
    bottom: 0;
    position: absolute;
    background-color: var(--primary-hfd-color);
    clip-path: ellipse(90% 100% at 50% 100%);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 65px;
    width: 225px;
    gap: 16px;
    

    p {
        font-weight: 400;
        font-size: 14px;
        color: var(--primary-p-color);
    }
}

@media screen and (max-width: 1440px) {
    .main-content {
    padding: 0 16px;
    }
}