* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
}

html {
    font-size: 16px;
    font-family: "Figtree";
}

:root {
    --primary-hfd-color: rgba(9, 33, 42, 1);         /*Header & Footer & Dialog*/
    --primary-bg-color: rgba(6, 23, 30, 1);         /*Background*/
    --primary-font-color: rgba(255, 255, 255, 1);   /*Fontcolor*/
    --primary-border-color: rgba(18, 70, 88, 1);    /*Picture-Border*/
    --primary-p-color: rgba(153, 172, 179, 1);      /*p-tag Color*/
}
